body {
	margin: 0;
}
.box {
	position: static;
	background-color: coral;
	width: 200px;
	height: 200px;
	position: relative;
	top: 20px;
	left: 20px;
}
header{
	position: absolute;
	background-color: green;
	height: 150px;
	width: 100%;
	z-index: -1;
}

