*{
	font-family: Helvetica, Arial, sans-serif;
}

header {
	background-color: #333333;
}

a {
	color: #FFFFFF;
}

h3 {
	color: #0099FF;
}

.date {
	font-size: 14px;
	font-style: italic;
	color: gray;
}

h3 > a {
	color: red;
}

main > section:nth-child(2) li:nth-child(2n-1){
	background-color: #F2F2F2;
}

main > section:last-child a{
	color: #FF9900;
}
